<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meteo</title>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
    <th:replace th:fragment="header" th:include="fragments/header :: header"></th:replace>
</head>

<body>
    <p th:text="'Ville : '+ ${city}"></p>
    <p th:text="'Temps : '+ ${weather}"></p>
    <p th:text="'Température minimale : '+ ${tmin}"></p>
    <p th:text="'Température maximale : '+ ${tmax}"></p>
    <p th:text="'Probabilité de précipitation : '+ ${probarain} + '%'"></p>
</body> 
</html>